name: plait-lab.org CI

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: ./out
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download build
        uses: actions/download-artifact@v2
        with:
          name: build
          path: ./out
      - name: Add .nojekyll
        run: cd ./out && touch .nojekyll && cd ../
      - name: Add CNAME
        run: cd ./out && echo "plait-lab.org" > CNAME && cd ../
      - name: Push to GitHub Pages
        env:
          CI_COMMIT_MESSAGE: "plait-lab.org CI Build Artifacts"
          CI_COMMIT_AUTHOR: "plait-lab.org CI"
        run: |
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "plait-lab@googlegroups.com"
          git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push origin gh-pages
